eshell/
elpa/
smex-items/
backups/
recentf/
auto-savev-list/
partials/*.elc
/.emacs.desktop
/recentf
/smex-items
desktop/
server/
/.emacs.desktop.lock
.extension/
.lsp-pwsh/
.lsp-session-v1
auto-save-list/
init.el~
network-security.data
projectile-bookmarks.eld
projectile.cache
quelpa/
url/
transient/